labsheet/labsheet-w2,3,4/book.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="books">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:integer" name="isbn"/>
                            <xs:element type="xs:string" name="title"/>
                            <xs:element name="author">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="firstname"/>
                                        <xs:element type="xs:string" name="lastname"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="publisher"/>
                            <xs:element type="xs:integer" name="year"/>
                            <xs:element type="xs:decimal" name="price"/>
                            <xs:element type="xs:string" name="picture"/>
                            <xs:element type="xs:string" name="description"/>
                            <xs:element type="xs:string" name="link"/>
                        </xs:sequence>
                        <xs:attribute type="xs:integer" name="id"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    </xs:schema>