labsheet/labsheet-w2,3,4/cars.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    

<xs:element name="Cars">
<xs:complexType>
    <xs:sequence>
        <!-- //missing code here -->
        <xs:element name="Car">
<xs:complexType>
    <xs:sequence>
        
    <!-- <xs:choice>
        <xs:sequence>
            <xs:element type="xs:string" name="Name" />
            <xs:element type="xs:string" name="Surname" />
        </xs:sequence>
        <xs:element type="xs:string" name="fullName" />
    </xs:choice> -->
   
        <xs:element name="Brand" type="xs:string"/>
        <xs:element name="Description" type="xs:string"/>
        <xs:element name="Model" type="xs:string"/>
        <xs:element name="Number" type="xs:string"/>
        <xs:element name="img">
                <xs:complexType>
                  <xs:attribute name="src" type="xs:string" />
                </xs:complexType>
              </xs:element>
        </xs:sequence>
        <xs:attribute name="Reconditioned" type="xs:string"/>
        </xs:complexType>
        </xs:element>
        </xs:sequence>
        </xs:complexType>
        </xs:element>
      
    </xs:schema>