labsheet-2/module1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:complexType name="ResoucePerson">
    <xs:choice>
      <xs:sequence>
        <xs:element type="xs:string" name="Name" />
        <xs:element type="xs:string" name="Surname" />
      </xs:sequence>
      <xs:element type="xs:string" name="fullName" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="nameType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="shortName" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="Modules">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Module">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="nameType" />
              <xs:element name="Level" type="xs:integer" />
              <xs:element name="ResourcePerson" type="ResoucePerson"></xs:element>
            </xs:sequence>
            <xs:attribute name="code" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>